@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto:500');

html {
    height: 100%;
}

body {
    background: linear-gradient(#edede7, #e3e5da);
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.about {
    text-align: center;
    font-family: 'Roboto', sans-serif;   
    color: #787d7d;
    margin: auto 0;
    padding: 2em 0;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    color: #2a3236;
    margin: 0;
}

.details {
    font-size: 1.8em;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    font-size: 1.4em;
}

.social > li {
    list-style-type: none;
}

.social a {
    text-decoration: none;
    color: inherit;
}

.button {
    padding: 0.8em 2em;
    font-size: 1.5em;
    border-radius: 3em;
    color: #0f9980;
    background-color: transparent;
    border: 2px solid #0f9980;
    text-decoration: none;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 0.3s;
}

.button:hover, .button:focus {
    color: white;
    background-color: #0f9980;
}

.button:first-child {
    margin-right: 1em;
}

@media screen and (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

@media screen and (orientation: landscape) {
    body {
        flex-direction: row;
    }

    svg {
        min-width: 50%;
    }

    .about {
        padding: 0;
        margin: auto;
    }
}