@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto:500');

html {
    height: 100%;
    font-size: 16px;
}

body {
    background: linear-gradient(#edede7, #e3e5da);
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.about {
    text-align: center;
    font-family: 'Roboto', sans-serif;   
    color: #787d7d;
    margin: auto;
    padding: 2em 0;
    white-space: nowrap;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-size: 7vmin;
    color: #2a3236;
    margin: 0;
}

.details {
    font-size: 3.5vmin;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5vmin;
    font-size: 2.5vmin;
    padding: 0;
}

.social > li {
    list-style-type: none;
    transition: color 0.3s ease-in;
}

.social > li:hover {
    color: #2a3236;
    transition: color 0.3s ease;
}


.social a {
    text-decoration: none;
    color: inherit;
}

.button {
    padding: 2vmin 6vmin;
    font-size: 3.5vmin;
    border-radius: 48px;
    color: #0f9980;
    background-color: transparent;
    border: 2px solid #0f9980;
    text-decoration: none;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    display: inline-block;
}

.button:hover, .button:focus {
    color: white;
    background-color: #0f9980;
}

@media only screen and (orientation: portrait) {
    body {
        flex-direction: column;
    }

    
}

@media only screen and (orientation: landscape) {
    body {
        flex-direction: row;
    }

    svg {
        max-height: 100%;
        position: absolute;
        bottom: 0;
    }

    .svgWrapper {
        width: 50%;
        position: relative;
    }

    .about {
        padding: 0;
    }
}